<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * 2011-2019 PH2M
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0) that is available
 * through the world-wide-web at this URL: http://www.opensource.org/licenses/OSL-3.0
 * If you are unable to obtain it through the world-wide-web, please send an email
 * to contact@ph2m.com so we can send you a copy immediately.
 *
 * @author PH2M - contact@ph2m.com
 * @copyright 2011-2019 PH2M
 * @license http://www.opensource.org/licenses/OSL-3.0 Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <PH2M_PhOptimizations>
            <version>1.0.0</version>
        </PH2M_PhOptimizations>
    </modules>
    <global>
        <models>
            <phoptimizations>
                <class>PH2M_PhOptimizations_Model</class>
            </phoptimizations>
            <cms>
                <rewrite>
                    <page>PH2M_PhOptimizations_Model_Override_Cms_Page</page>
                </rewrite>
            </cms>
            <catalog>
                <rewrite>
                    <category>PH2M_PhOptimizations_Model_Override_Catalog_Category</category>
                    <product>PH2M_PhOptimizations_Model_Override_Catalog_Product</product>
                </rewrite>
            </catalog>
        </models>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <ph2m_optimizations_config_section_save_after>
                        <type>singleton</type>
                        <class>PH2M_PhOptimizations_Model_Observer</class>
                        <method>configSectionSaveAfter</method>
                    </ph2m_optimizations_config_section_save_after>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </global>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <adminnotification>
                        <type>disabled</type>
                    </adminnotification>
                </observers>
            </controller_action_predispatch>
            <cms_page_save_after>
                <observers>
                    <ph2m_phoptimizations_cms_page_save_after>
                        <class>phoptimizations/observer</class>
                        <method>cmsPageSaveAfter</method>
                    </ph2m_phoptimizations_cms_page_save_after>
                </observers>
            </cms_page_save_after>
            <catalog_category_save_after>
                <observers>
                    <ph2m_phoptimizations_catalog_category_save_after>
                        <class>phoptimizations/observer</class>
                        <method>catalogCategorySaveAfter</method>
                    </ph2m_phoptimizations_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
            <catalog_product_save_after>
                <observers>
                    <ph2m_phoptimizations_catalog_product_save_after>
                        <class>phoptimizations/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </ph2m_phoptimizations_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>